table {
    display: inline-block;
    width: 85px;
    height: 85px;
}

.color {
    border: 1px solid black;
}

.classicBlue {
    background-color: #34568b;
}

.livingCoral {
    background-color: #ff6f61;
}

.black {
    background-color: black;
}

.greenery {
    background-color: #88b04b;
}
