table {
  display: inline-block;
  width: 40px;
  height: 40px;
}

td {
  display: table-cell;
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
}

#pixel-board {
  display: table;
  height: 233px;
  width: 233px;
  background-color: black;
}

#color-palette {
  border: 1px solid black;
}

.color {
  border: 1px solid black;
}

.classicBlue {
  background-color: #34568b;
}

.livingCoral {
  background-color: #ff6f61;
}

.black {
  background-color: black;
}

.greenery {
  background-color: #88B04B;
}